<!-- <ul class="list-group">
  <li *ngFor="let cat of categories; trackBy: trackByCategory"
    class="list-group-item d-flex align-items-center custom-hover" [class.active]="cat.category === selectedCategory"
    (click)="onCategorySelect(cat.category)"> {{ cat.category }}
    <span class="badge rounded-pill ms-1">{{ cat.count }}</span>
  </li>
</ul> -->

<cdk-virtual-scroll-viewport itemSize="50" class="list-container">
  <ul class="list-group">
    <li *cdkVirtualFor="let cat of categories; trackBy: trackByCategory"
        class="list-group-item d-flex align-items-center custom-hover"
        [class.active]="cat.category === selectedCategory"
        (click)="onCategorySelect(cat.category)">
      {{ cat.category }}
      <span class="badge rounded-pill ms-1">{{ cat.count }}</span>
    </li>
  </ul>
</cdk-virtual-scroll-viewport>
